<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongfei.springbootshiro.user.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.hongfei.springbootshiro.user.model.Role">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="mtime" jdbcType="TIMESTAMP" property="mtime"/>
    </resultMap>
    <select id="isExistName" resultType="java.lang.Boolean">
        SELECT exists(
        SELECT * FROM role WHERE status!=0 AND name = #{name}
        <if test="id!=null">
            and id!=#{id}
        </if>
        )
    </select>
    <update id="updateStatus">
        update role set status=#{status} where id=#{id} and status!=0
    </update>
    <select id="selectById" resultMap="BaseResultMap">
        select * from role where id=#{id}
    </select>
    <select id="selectAllByParam" resultMap="BaseResultMap">
        select * from role where status!=0
    </select>
    <insert id="insert" parameterType="com.hongfei.springbootshiro.user.model.Role" keyProperty="id"
            useGeneratedKeys="true">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=0">
                id,
            </if>
            <if test="name!=null and name!=''">
                name,
            </if>

            <if test="description!=null and description!=''">
                description,
            </if>

            <if test="status!=null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=0">
                #{id},
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="description!=null and description!=''">
                #{description},
            </if>
            <if test="status!=null">
                #{status},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.hongfei.springbootshiro.user.model.Role">
        update role
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>